@media screen and (max-width: 700px) {
  .coding-thumbs{
    padding: 0 1.1em 1.1em 1.1em !important;
    margin-top: 0;
  }
  .project-wrapper {
    display: inline-block !important;
    padding: 0 0 3em !important;
  }
  .coding-title {
    width: 100% !important;
    padding-bottom: 1.1em;
  }

  .coding-thumbnail {
    width: 100% !important;
  }
}


.coding-title {
  line-height: 1.3em;
}

.coding-desc {
  line-height: 1.2em;
}



.coding-thumbnail {
  width: 65%; 
}

/* video, .coding-image, img, picture {
  border: 1px solid black;
} */

.link {
  cursor:pointer;
}

.coding-title {
  width: 40%;
  margin-right: 15%;
}




.coding-index .coding-thumbs {
  overflow: hidden;
  padding: 1.1em;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  grid-gap: 1.1em;
}

.project-wrapper {

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.25em 0 2.5em;
    flex-direction: row;

}