@media screen and (max-width: 700px) {
  body,
  html,
  h1,
  h2,
  h3 {
    font-size: 24px;
  }
}

body {
  margin: auto !important;
  float: none !important;
  overflow-y: scroll;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffcf6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fffcf6;
}

::-webkit-scrollbar-thumb:hover {
  background: #fffcf6;
}

@media screen and (max-width: 700px) {
  .hide-mobile {
    display: none !important;
  }
}

@font-face {
  font-family: "TT Commons Medium";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TTCommons/TT-Commons-Medium.woff2") format("woff2"),
    url("/fonts/TTCommons/TT-Commons-Medium.woff") format("woff");
}

@font-face {
  font-family: "TT Commons Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TTCommons/TT-Commons-Regular.woff2") format("woff2"),
    url("/fonts/TTCommons/TT-Commons-Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Commons Regular Italic";
  font-style: Italic;
  font-weight: 400;
  src: url("/fonts/TTCommons/TT-Commons-Italic.woff2") format("woff2"),
    url("/fonts/TTCommons/TT-Commons-Italic.woff") format("woff");
}

@font-face {
  font-family: "TT Commons DemiBold";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/TTCommons/TT-Commons-DemiBold.woff2") format("woff2"),
    url("/fonts/TTCommons/TT-Commons-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "TT Commons DemiBold Italic";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/TTCommons/TT-Commons-DemiBold-Italic.woff2") format("woff2"),
    url("/fonts/TTCommons/TT-Commons-DemiBold-Italic.woff") format("woff");
}

@font-face {
  font-family: "Calibre Medium";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Calibre/Calibre-Medium.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Medium.woff") format("woff");
}

@font-face {
  font-family: "Calibre Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Calibre/Calibre-Regular.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Regular.woff") format("woff");
}

@font-face {
  font-family: "Calibre Regular Italic";
  font-style: Italic;
  font-weight: 400;
  src: url("/fonts/Calibre/Calibre-RegularItalic.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Calibre Semibold";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Calibre/Calibre-Semibold.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Calibre Semibold Italic";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Calibre/Calibre-SemiboldItalic.woff2") format("woff2"),
    url("/fonts/Calibre/Calibre-SemiboldItalic.woff") format("woff");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonFadeIn {
  0% {
    background-color: transparent;
    color: #242020;
  }
  100% {
    background-color: #242020;
    color: white;
  }
}

@keyframes buttonFadeOut {
  0% {
    background-color: #242020;
    color: white;
  }
  100% {
    background-color: transparent;
    color: #242020;
  }
}

@keyframes backgroundIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(233, 232, 232, 0.5);
  }
}

@keyframes backgroundOut {
  0% {
    background-color: rgba(233, 232, 232, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
.fadeInAnimation {
  animation: fadeIn 0.25s ease-in-out 0ms 1 normal forwards;
}

.fadeOutAnimation {
  animation: fadeOut 0.25s ease-in-out 0s 1 normal forwards;
}

.button-reveal {
  animation: buttonFadeIn 0.25s ease-out 0s 1 normal forwards;
}

.button-exit {
  animation: buttonFadeOut 0.3s ease-out 0s 1 normal forwards;
}

.backgroundIn {
  animation: backgroundIn 0.2s ease-out 0s 1 normal forwards;
  cursor: pointer;
}

.backgroundOut {
  animation: backgroundOut 0.5s ease-out 0s 1 normal forwards;
  cursor: auto;
}

.bump-left {
  padding-right: 7.5%;
}

footer {
  font-size: 1.15em;
}

strong {
  font-family: Calibre Semibold;
}

i {
  font-family: Calibre Regular Italic;
}

ol {
  line-height: 45vw;
  padding-left: 5%;
}

/*  Other random extra classes to modify styles slightly  */

.black-border {
  padding-bottom: 0%;
  border: 1px solid black;
}

.bump-2point5 {
  margin-bottom: 2.5%;
}

.bump-2point5-padding {
  padding-bottom: 2.5%;
  font-size: 2vw;
}

.bump-5 {
  margin-bottom: 5%;
}

.no-padding {
  padding-bottom: 0% !important;
  padding-top: 0%;
}

.scroll-container {
  scroll-behavior: smooth;
}
