@media screen and (max-width: 700px) {
  body,
  html,
  h1,
  h2,
  h3 {
    font-size: 24px;
  }
  .mailTo {
    display: none;
  }

  .heading {
    padding: 0 0 0 1.1em;
  }
  .heading,
  .menu {
    width: 100% !important;
  }
  header .menu {
    padding: 0 1.1em 1.5em 1.1em !important;
  }
  .SecondaryCol {
    padding: 3.4em 0 0 0 !important;
  }
  .col:first {
    width: 55% !important;
  }
  h1 {
    -webkit-margin-after: 0 !important;
    margin-block-end: 0 !important;
  }
}

.header {
  z-index: 5;
  padding-top: 1%;
  font-family: "TT Commons Medium";
  font-size: 2vw;
  width: 100%;

  color: #242020;
}

.header-content {
  max-width: 1450px;
  padding-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.name {
  font-size: 2.5vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "TT Commons Regular";
  padding-right: 5%;
}

.link {
  color: #242020;
  margin-right: 5%;
  transition-duration: 0.3s;
  transform: perspective(1px) translateZ(0);
  transition-property: text-decoration, text-underline-offset,
    text-decoration-thickness;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.075em;
}

.social-links {
  width: 8%;
  display: flex;
  align-items: center;
}

.social-links--icon {
  width: 75%;
  display: flex;
  align-items: center;
}

footer {
  max-width: 1450px;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .header-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .name {
    font-size: 18px;
  }
  .header {
    font-size: 14px;
  }
}

@media screen and (min-width: 2200px) {
  .header {
    font-size: 32px;
  }
  .name {
    font-size: 48px;
  }
}
