html {
  margin: 0;
}

a {
  text-decoration: none;
  color: #242020;
}

a::after {
  color: none;
  text-decoration: none;
}

a:visited {
  color: #242020;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  margin: 0;
  color: #242020;
  background-image: none !important;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-family: "TT Commons Regular", "sans-serif";
}

.darkbody {
  background-color: rgba(0, 0, 0, 0.85);
}

h3.snapsave-header-style {
  padding: 2.5% 0% 2.5% 5%;
}

html {
  margin: none;
}

li {
  font-family: "TT Commons Regular";
  font-size: 1.15vw;
  line-height: 1.5em;
  padding-bottom: 5%;
}

.link {
  color: #464646;
}

.link:hover {
  color: #242020;
}

.project-feature {
  padding-top: 5%;
  width: 100%;
  box-sizing: border-box;
}

#image-header {
  width: 100%;
  padding-top: 5%;
}

h1 {
  font-family: TT Commons Medium;
  font-size: 3vw;
  font-weight: 500;
  margin: 0;
  padding-bottom: 1.25%;
}

h2 {
  font-family: TT Commons Medium;
  font-size: 2.4vw;
  font-weight: 500;
  margin: 0;
  padding-bottom: 5%;
}

h3 {
  font-family: TT Commons Medium;
  font-size: 1.75vw;
  font-weight: 500;
}

h4 {
  font-family: "TT Commons Regular";
  font-size: 1vw;
  font-weight: 500;
  color: #312e2e;
  margin: 0;
}

p {
  font-family: "TT Commons Regular";
  font-size: 1.25vw;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 5%;
  width: auto;
}

i {
  font-family: "TT Commons Regular Italic";
}

.project-writeup-description {
  padding-bottom: 7.5%;
}

.content--block {
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
}

.addition {
  padding-top: 0%;
  padding-bottom: 2.5%;
}

.addition-bottom {
  padding-top: 0%;
  padding-bottom: 5%;
}

.content--section-title {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: TT Commons Medium, sans-serif;
  font-size: 1vw;
  padding-top: 2.5%;
}

.content--main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.content--subdivide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content--subdivision-big {
  width: 35%;
}

.content--subdivision-medium {
  width: 30%;
}

.content--subdivision-small {
  width: 22.5%;
}

.content--image-wrapper-full {
  width: 100%;
  padding-bottom: 5%;
}

.content--image-wrapper-third {
  width: auto;
  padding-left: 5%;
}

.content--two-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7.5%;
}

.content--half {
  width: 48.5%;
}

.content--half-text {
  width: 42%;
}

.content--half-2 {
  width: 30%;
}

.content--half-text-2 {
  width: 55%;
}

.content--half-text-2 > li {
  font-size: 1.25vw;
}

.big-bullet-points {
  font-size: 1.5vw;
}

#grey {
  background-color: rgb(245, 245, 245);
}

.content--two-columns.content--text-and-image {
  align-items: center;
}

.content--point-title {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.content--point-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.content--bullet-point {
  padding-bottom: 2.5%;
}

.content--section-60 {
  width: 60%;
}

.content--section-35 {
  width: 35%;
  padding-left: 5%;
}

.content--point {
  width: 80%;
}

.content--point-icon {
  width: 15%;
  padding: 2.5% 5% 2.5% 0;
}

#nextProject {
  margin-top: 0%;
  margin-bottom: 0%;
}

.content--next-project {
  margin-bottom: 5%;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.fade-in.appear {
  opacity: 1;
}

.enlarged {
  width: 60%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.25s ease-in-out 0s 1 normal forwards;
}

.no-headline {
  padding-top: 0.7%;
  width: 100%;
}

.broad {
  width: 100%;
  max-width: 1550px;
}

.footer {
  line-height: 2.75vw;
}

ol > li {
  padding-bottom: 2.5%;
}

.content--half-text > h3 {
  margin-top: 0;
}

.black-border {
  padding-bottom: 0%;
  border: 1px solid black;
}

u {
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.075em;
}

.iframe {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  display: flex;
}

.figma-iframe {
  display: flex;
  height: 45vw;
}

.big-quote {
  font-size: 2vw;
  line-height: 3vw;
}

.big-bullet-points > li {
  font-size: 1.75vw;
  padding-bottom: 2.5%;
}

.snapsave-header-style {
  border: 0.25vw solid #75f9a2;
  border-style: none none none solid;
  background-color: #f1fef6;
}

h2.snapsave-h2-style span {
  background: linear-gradient(
    0deg,
    rgba(186, 252, 208, 0) 0%,
    rgba(186, 252, 208, 0) 10%,
    rgba(186, 252, 208, 1) 10%,
    rgba(186, 252, 208, 1) 50%,
    rgba(186, 252, 208, 0) 50%
  );
  padding: 0 1vw 0 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

@media screen and (min-width: 1780px) {
  .content--block {
    grid-template-columns: 20% 60% 20%;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  .content--section-title {
    font-size: 18px;
    padding-left: 12%;
    justify-content: flex-start;
    padding-top: 12px;
  }
  .content--half-text-2 > li {
    font-size: 24px;
  }
  .big-bullet-points > li {
    font-size: 24px;
  }
  .big-quote {
    font-size: 36px;
    line-height: 48px;
  }
}

@media screen and (max-width: 700px) {
  main {
    width: 100%;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 0.8rem;
  }
  li {
    font-size: 18px;
  }
  .content--block {
    grid-template-columns: 10% 80% 10%;
  }
  .content--subdivide {
    display: block;
  }
  .content--image-wrapper-full {
    display: block;
    padding-top: 5%;
  }
  .content--subdivision-big,
  .content--subdivision-medium,
  .content--subdivision-small {
    width: 100%;
  }
  .content--section-title {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: start;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 1.25%;
    font-size: 12px;
  }
}
